@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Akshar&display=swap');

body {
    background-color: #FCF6D3;
    min-height: 100vh;
}

/* Navbar and Text */


.navbar {
    font-family: "Abril Fatface", sans-serif;
    font-size: 20px;
    letter-spacing: 3px;
    background-color: #231502;
}

.brand {
    font-family: "Abril Fatface", sans-serif;
    font-size: 30px;
    letter-spacing: 2px;
    margin-left: 10px;
    color: #bd1313;
}

.navbar-brand {
    font-family: "Abril Fatface", sans-serif;
    font-size: 30px;
    letter-spacing: 2px;
    margin-left: 10px;
    color: #bd1313;
}

.nav-link {
    color: #bd1313;
    margin-left: 30px;
}

.navbar-toggler {
    color: #bd1313;
}

.navbar-toggler-icon {
    color: #bd1313;
}

.dropdown-item {
    background-color: #231502;
    color: #bd1313;
}

/* Hero Image */

.container {
    position: relative;
    text-align: center;
    color: #ffffff;
}

.img-fluid {
    width: 100%;
    height: auto;
}

/* General Styling */

.page-links {
    margin-top: -400px;
}

.about-us {
    font-family: "Abril Fatface", sans-serif;
    font-size: 40px;
    letter-spacing: 2px;
    margin-top: 50px;
    justify-content: center;
    color: #bd1313;
}

.about-text {
    font-family: "Akshar", sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    padding-top: 20px;
    margin-left: 350px;
    margin-right: 350px;
    color: #273800;
}

.brand-text {
    font-family: "Abril Fatface", sans-serif;
    font-size: 35px;
    margin-top: 140px !important;
    padding-bottom: 10px;
    color: #bd1313;
}

.img-thumbnail {
    max-width: 70%;
}

/* Footer */

.footer {
    background-color: #231502;
    opacity: 1;
    margin-top: 30px;
}

.sticky-footer {
    position: sticky;
    top: 100%;
}