@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Akshar&display=swap');

body {
    background-color: #FCF6D3;
    min-height: 100vh;
}

/* Navbar and Text */


.navbar {
    font-family: "Abril Fatface", sans-serif;
    font-size: 20px;
    letter-spacing: 3px;
    background-color: #231502;
}

.brand {
    font-family: "Abril Fatface", sans-serif;
    font-size: 15px;
    letter-spacing: 2px;
    margin-left: 10px;
    color: #bd1313;
}

.navbar-brand {
    font-family: "Abril Fatface", sans-serif;
    font-size: 30px;
    letter-spacing: 2px;
    margin-left: 10px;
    color: #bd1313;
}

.nav-link {
    font-family: "Akshar", sans-serif;
    color: #bd1313;
    margin-left: 15px;
    font-size: 16px;
}

.navbar-toggler {
    color: #231502;
    border: transparent;
    padding: .2rem .1rem .23rem .1rem;
}

.dropdown-item {
    font-family: "Akshar", sans-serif;
    background-color: #231502;
    color: #bd1313;
}

a:hover {
    background-color: #231502;
    color: #4f7000 !important;
}

.img.toggle {
    color: #bd1313 !important;
}

/* Hero Image */

.container {
    position: relative;
    text-align: center;
    color: #ffffff;
}

.img-fluid {
    width: 100%;
    height: auto;
}

/* General Styling */

.page-links {
    margin-top: -400px;
}

.about-main {
    font-family: "Abril Fatface", sans-serif;
    font-size: 30px;
    padding-top: 30px;
    color: #bd1313;
}

.about-text {
    font-family: "Akshar", sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
    color: #273800;
}

.about-text-big {
    font-family: "Akshar", sans-serif;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 1px;
    color: #273800;
}

.brand-text {
    font-family: "Abril Fatface", sans-serif;
    font-size: 25px;
    margin-top: 140px !important;
    padding-bottom: 10px;
    color: #bd1313;
}

.brand-text-menu {
    font-family: "Abril Fatface", sans-serif;
    font-size: 20px;
    margin-top: 140px !important;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #ece4b5;
    color: #bd1313;
}


.img-thumbnail {
    max-width: 70%;
}

.brand-text:hover {
    color: #4f7000;
}

.alert {
    margin-top: 100px;
    margin-bottom: -100px;
    text-align: center;
    background-color: #6d9c00;
    color: white;
}

.row {
    --bs-gutter-x: 0 !important;
}

.page-links {
    text-decoration: none !important;
}

/* Crispy form inputs */

input#id_name.textinput.textInput,
input#id_email.emailinput,
textarea#id_message.textarea,
input#id_full_name.textinput.textInput,
input#id_phone_number.textinput.textInput,
select#id_no_of_guests,
select#id_requested_time,
input#id_requested_date,
input#id_first_name.textinput.textInput,
input#id_last_name.textinput.textInput,
input#id_email_address.emailinput,
input#id_password,
input#id_login,
input#id_email,
input#id_email2,
input#id_username,
input#id_password1,
input#id_password2 {
    width: 100%;
}

/* Contact Form */

.contact-form {
    display: grid;
    width: 100%;
    justify-content: center;
}

/* Footer */

.footer {
    height: 100px;
    clear: both;
}

.btn-link {
    color: #920606 !important;
    margin-bottom: -55px !important;
}

.copyright {
    color: #273800 !important;
}