@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Akshar&display=swap');

body {
    background-color: #FCF6D3;
    min-height: 100vh;
}

/* Navbar and Text */


.navbar {
    font-family: "Abril Fatface", sans-serif;
    font-size: 20px;
    letter-spacing: 3px;
    background-color: #231502;
}

.brand {
    font-family: "Abril Fatface", sans-serif;
    font-size: 15px;
    letter-spacing: 2px;
    margin-left: 10px;
    color: #bd1313;
}

.navbar-brand {
    font-family: "Abril Fatface", sans-serif;
    font-size: 30px;
    letter-spacing: 2px;
    margin-left: 10px;
    color: #bd1313;
}

.nav-link {
    font-family: "Akshar", sans-serif;
    color: #bd1313;
    margin-left: 15px;
    font-size: 16px;
}

.navbar-toggler {
    color: #bd1313;
}

.navbar-toggler-icon {
    color: #bd1313;
}

.dropdown-item {
    font-family: "Akshar", sans-serif;
    background-color: #231502;
    color: #bd1313;
}

a:hover {
    background-color: #231502;
    color: #4f7000 !important;
}

/* Hero Image */

.container {
    position: relative;
    text-align: center;
    color: #ffffff;
}

.img-fluid {
    width: 100%;
    height: auto;
}

/* General Styling */

.page-links {
    margin-top: -400px;
}

.about-main {
    font-family: "Abril Fatface", sans-serif;
    font-size: 30px;
    padding-top: 30px;
    color: #bd1313;
}

.about-text {
    font-family: "Akshar", sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    padding-top: 20px;
    color: #273800;
}

.brand-text {
    font-family: "Abril Fatface", sans-serif;
    font-size: 25px;
    margin-top: 140px !important;
    padding-bottom: 10px;
    color: #bd1313;
}

.brand-text-menu {
    font-family: "Abril Fatface", sans-serif;
    font-size: 25px;
    margin-top: 140px !important;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #ece4b5;
    color: #bd1313;
}


.img-thumbnail {
    max-width: 70%;
}

.brand-text:hover {
    color: #4f7000;
}

/* Crispy form inputs */

input#id_name.textinput.textInput,
input#id_email.emailinput,
textarea#id_message.textarea,
input#id_full_name.textinput.textInput,
input#id_phone_number.textinput.textInput,
select#id_no_of_guests,
select#id_requested_time,
input#id_requested_date {
    width: 100%;
    margin-bottom: 10px;
}


/* Footer */

.footer {
    background-color: #231502;
    opacity: 1;
    margin-top: 30px;
}

.sticky-footer {
    position: sticky;
    top: 100%;
}