{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row d-flex justify-content-center">
        <div class="col-12 col-sm-8 col-md-6 col-lg-4 text-center mb-3">
            <h2 class="text-center mt-2 mb-3 brand-text">Cancel your reservation at Pepper Jack's</h2>
        </div>
    </div>

    <div class="row d-flex justify-content-center">
        <div class="col-sm-6">
            <form method="POST" class="text-center mb-5" id="delete-form">
                <!-- Display the reservation -->
                <ul class="reservation"></ul>
                {% csrf_token %}
                <h5>Reservation ID: {{ reservation.reservation_id }} </h5>
                </li>
                <!-- Display '1 person' instead of '1 people' -->
                {% if reservation.no_of_guests == 1 %}
                <li class="reservation-item">Guests: {{ reservation.no_of_guests }} person </li>
                {% else %}
                <li class="reservation-item">Guests: {{ reservation.no_of_guests }} people </li>
                {% endif %}
                <li class="reservation-item">Time: {{ reservation.requested_time }} </li>
                <li class="reservation-item">Date: {{ reservation.requested_date|date:"d/m/Y" }} </li>

                <button type="submit" class="button mt-4 text-center submit-button">Cancel
                    Reservation</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}