{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags %}
<div class="container-fluid content-wrapper">
    <div class="row d-flex justify-content-center">
        <div class="col-sm-8 text-center">
            <h2 class="text-center mt-2 mb-3 brand-text">Edit your details at Pepper Jack's</h2>
            <h5>Please note as your email is associated with your user account this cannot be changed.</h5>
            <p>If you would like to do this, please contact the restaurant directly. Thank you!</p>
        </div>
    </div>

    <div class="row d-flex justify-content-center">
        <div class="col-xs-10 col-sm-5">
            <!-- Customer form -->
            <form method="POST" class="mb-5 full-form" id="customer-details-form">
                {% csrf_token %}

                {{ customer_form | crispy }}

                <button type="submit" class="button mt-4 text-center submit-button">Update
                    Details</button>
            </form>
        </div>
    </div>
</div>
<script>
    const email = document.getElementById('id_email')
    email.disabled = true
</script>

{% endblock %}