{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="container-fluid text-center" style="padding: 0;">
    <div class="row content mt-1 d-flex justify-content-center">
        <!-- Homepage content -->
        <div class="container">
            <img src="{% static 'images/hero-image.webp' %}" class="img-fluid" alt="Steak">
            <div class="centered">
                <h1 class="home-text">Welcome to Pepper Jack's</h1>
            </div>
            <br>
            <!-- 'About us' section -->

        </div>
        <!-- Menus & Reservation images and page links -->
        <div class="row content justify-content-center" style="margin-top: -80px; margin-bottom: 60px;">
            <div class="col-sm-6 col-lg-4 col-xl-3 text-center">
                <div>
                    <a href="{% url 'menus' %}">
                        <h3 class="mt-2 brand-text page-links">Menus</h3>
                        <img src="{% static 'images/menu.jpg' %}" class="img-thumbnail" alt="A bowl of healthy food.">
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-3 text-center">
                <div>
                    <a href="{% url 'reservations' %}">
                        <h3 class="mt-2 brand-text page-links">Reservations</h3>
                        <img src="{% static 'images/reservations.webp' %}" class="img-thumbnail"
                            alt="A bowl of healthy food.">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}