{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container-fluid text-center">
    <div class="row content mt-1 d-flex justify-content-center">
        <!-- Menus content -->
        <div class="col-sm-8">
            <h1 class="brand-text">Menus at Pepper Jack's</span></h1>
            <br>
        </div>
    </div>
    <!-- Food & Drinks menus images and page links -->
    <div class="row content mb-5 d-flex justify-content-center" style="margin-top: -100px;">
        <div class="col-sm-6 col-lg-3 text-center">
            <a href="{% url 'food_menu' %}">
                <h3 class="mt-3 brand-text page-links">Food</h3>
                <img src="{% static 'images/beef.jpg' %}" class="img-thumbnail" alt="A bowl of healthy food.">
            </a>
        </div>
        <div class="col-sm-6 col-lg-3 text-center">
            <a href="{% url 'drinks_menu' %}">
                <h3 class="mt-3 brand-text page-links">Drinks</h3>
                <img src="{% static 'images/drinks.jpg' %}" class="img-thumbnail" alt="A bowl of healthy food.">
            </a>
        </div>

    </div>
</div>

{% endblock %}